/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');*/

.Osp__container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  height: 100%;
  max-width: 400px;
  border-radius: 10px;
  background-color: rgba(32, 194, 14, 0.04);
  margin: 20px 20px;
  padding: 15px 20px;
  border: 1px solid #2a2a2a;
  transition: 260ms all;
}
.Osp__container:hover {
  border-color: #545454;
  background-color: rgba(32, 194, 14, 0.1);
}
.styles {
  text-decoration: none;
}

.Osp__container__title {
  margin: 10px 0;
  padding: 10px 0;
}

.Osp__container__title h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.Osp__container__title h6 {
  font-size: 0.9rem;
  font-weight: 400;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}

.tag {
  margin: 0 5px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #545454;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 260ms all;
}
.tag:hover {
  background-color: rgba(32, 194, 14, 0.41);
  color: white;
}

.AllOsp {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.AllOsp a {
  color: #cecac3;
}

.viewOsp {
  display: flex;
  flex-direction: column;
  padding: 50px 300px;
  padding-top: 0;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.viewOsp > * {
  margin: 10px 0;
}

.viewOsp p {
  text-align: left;
  padding: 0 50px;
  white-space: pre-line;
  font-size: 20px;
}

.viewOsp img {
  margin-top: 0;
}
