.icon {
    color: #646464;
}
.icon-delete,
.icon-cancel {
    color: #bc0101;
}
.icon-pin {
    color: rgb(47, 108, 129);
}
.icon-save {
    color: rgb(47, 129, 50);
}
.icon:hover {
    opacity: 0.7;
    cursor: pointer;
}
