/* .ctf__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    height: 100%;
    width: 40em;
    border: 1px solid #ffffff0d;
    border-radius: 10px;
    background-color: #0d1117;
    margin: 20px 20px;
    padding: 15px 20px;
}

.ctf__container__title {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}

.ctf__container__title h2 {
    font-size: 1.8rem;
    font-weight: 800;
}

.ctf__container__title h6 {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;

}

@media (max-width: 480px) {
    .ctf__container__title h2 {
        font-size: 16px;
    }
    .ctf__container__contentHeader{
        padding: 0;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .ctf__container__content {
        font-size: 13px;
    }
} */

.AllEvents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.submit-container {
    display: flex;
    margin: 1rem;
    flex-direction: column;
}

.label-css {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.input-css {
    margin: 1rem;
    color: #000000;
    font-weight: 600;
    width: 13rem;
    height: 2rem;
    border-radius: 0.125rem;
    padding: 8px;
}

.button-final {
    margin: 1rem;
    background-color: #116f06;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    align-self: center;
    width: 7rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #ffffff;
    height: 40px;

}

.button-final:hover {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
}

.button-initial {
    margin: 1rem;
    background-color: #000000;
    color: #10B981;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    align-self: center;
    width: 7rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    height: 40px;
}

.button-intial:hover {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
}

/* .eventImg {
    height: 100%;
    width: auto;
    margin-bottom: 9px;
}

.ctf__container__content {
    margin-bottom: 20px;
}

.change_view_btn {
    text-decoration: none;
    color: currentColor;
    opacity: 0.5;
    cursor: pointer;
} */