#container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 250px 100px;
    grid-auto-flow: row;
}

#container h2 {
    margin: 0px;
    font-size: 20px;
}

#allNotif {
    font-size: large;
}

#container h3 {
    margin: 10px 0px 3px 0px;
}

#container p {
    color: grey;
    line-height: 22px;
}

.switch {
    position: relative;
    align-self: center;
    justify-self: center;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.allButton {
    height: 40px;
    width: 72px;
}

.allButton .slider:before {
    height: 32px;
    width: 31px;
}

.allButton input:checked + .slider:before {
    transform: translateX(32px);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: aliceblue;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff6b08;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
