.blogs__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    height: 100%;
    width: 400px;
    border-radius: 10px;
    background-color: #0d1117;
    margin: 20px 1%;
    padding: 15px 20px;
}
.blogs__container__title{
    margin: 10px 0;
    padding: 10px 0;
}
.blogs__container__title h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.blogs__container__title h6{
    font-size: 0.9rem;
    font-weight: 400;
}
.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}
.tag{
    margin: 0 5px;
    padding: 10 15px;
    border-radius: 5px;
    background-color: #1f6feb;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
}
.AllBlogs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blogImg{
    margin-bottom: 9px;
}