/* Style for the team section */
.section {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px; /* Add space at the bottom of the section */
}

/* Style for the team title */
.team-name {
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.team-name-container {
    display: flex;
    align-items: center;
}

.team-name-heading {
    font-size: 24px; /* Adjust font size for team name */
    margin-right: 10px; /* Add margin between team name and icon */
}
.team-name-input {
    color: black; /* Replace with the color you want to use */
}

.edit-icon {
    cursor: pointer;
    color: #fffff0;
    margin-bottom: 10px;
}

.edit-icon:hover {
    color: #0056b3; /* Darker color on hover */
}

.members-table {
    width: 100%;
    border-collapse: collapse;
}
.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.members-table th,
.members-table td {
    border-bottom: 1px solid #ccc; /* Add bottom border to simulate horizontal lines */
    padding: 10px;
    text-align: left;
    color: white;
}

.members-table th {
    background-color: #f0f0f0;
}

.delete-icon {
    color: #888; /* Gray color for delete icon */
    cursor: pointer;
}

.delete-icon:hover {
    color: red; /* Darker gray color on hover */
}

/* Style for the owner container */
.owner-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.owner-container {
    background-color: #f5f7fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 150px;
}
.owner-names {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.owner-name-container {
    border-color: #0d0c22;
    border-width: 3px; /* Adjust as needed */
    padding: 10px;
    border-radius: 5px;
    width: 10%;
    margin-right: 30px;
    text-align: center; /* Add this line */

    /* Adjust width of the container */
}
.search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/* Style for the search bar and add member button */
.search-and-add {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-and-add input[type="text"] {
    padding: 8px 30px 8px 40px; /* Adjust padding to accommodate the icon */
    width: calc(100% - 45px); /* Adjust input width to accommodate the icon */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M14.5 13h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L14.5 13zm-6 0C7.01 13 5 10.99 5 8.5S7.01 4 9.5 4 14 6.01 14 8.5 11.99 13 9.5 13z"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust position of the icon */
}

.search-and-add input[type="text"]:focus {
    outline: none;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon-team-page {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.team-owner {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
}
.add-owner-button {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
    margin-left: 10px;
    color: darkslategrey; /* Adjust as needed */
}

.search-and-add button {
    padding: 8px 15px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-and-add button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: black;
    border: none;
}

/* Style for the members table */
.members-table {
    width: 100%;
    border-collapse: collapse;
}

.members-table th,
.members-table td {
    border-bottom: 1px solid #ccc; /* Add bottom border to simulate horizontal lines */
    padding: 10px;
    text-align: left;
}

.members-table th:first-child,
.members-table td:first-child {
    border-left: none; /* Remove left border for first column */
}

.members-table th:last-child,
.members-table td:last-child {
    border-right: none; /* Remove right border for last column */
}
.search-input {
    text-indent: 30px;
}
.search-icon {
    margin-right: 35px; /* Add margin between the icon and the search bar */
}

.members-table th {
    color: black; /* Set titles color to black */
}

/* Style for delete icon */
.members-table td i {
    cursor: pointer;
}

.members-table td i:hover {
    color: #cc0000; /* Darker red color on hover */
}

.add-member-button {
    margin-left: 750px; /* Move the "Add Member" button to the end of the line */
}
