@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li {
    margin-left: 20px;
}

.header ul li a {
    display: flex;
    align-items: center;
}

.header ul li a:hover {
    color: #777;
}

.header ul li a svg {
    margin-right: 5px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
}

.heading p {
    color: #828282;
}

.goals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.goal {
    display: flex;
    flex-direction: column !important;
    position: relative;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    color: #e6e6e6;
    font-weight: 100;
    box-shadow: 0 0 50px 0 rgba(179, 162, 148, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.close {
    position: relative;
    top: -10px;
    right: -122px;
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: 600;
}

.form,
.content {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
    position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 93%;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f5f5f5;
    overflow: hidden;
    background: #121212;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
}

.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
    font-weight: 600;
    font-size: large;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fffbfb;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    margin-right: 8px;
}

.btn-reverse {
    background: #d11d1d;
    color: #000;
}

.btn-block {
    width: 1%;
    border: 2px solid rgba(160, 159, 159, 0.18);
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: -50.3px;
    font-size: 40px;
    right: -93.5%;
}

.btn:hover {
    transform: scale(0.98);
    background-color: #121212;
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}
.creation-date {
    position: absolute;
    bottom: 10px;
    width: 250px;
    margin-top: 20px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .form {
        width: 90%;
    }

    .heading h1 {
        font-size: 2rem;
    }

    .heading p {
        font-size: 1.5rem;
    }
}
