@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Condiment&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    height: auto;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    /*scrollbar-dark-shadow-color: #646464;*/
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}
::-webkit-scrollbar-button {
    background-color: #666;
}
::-webkit-scrollbar-track {
    background-color: #646464;
}
::-webkit-scrollbar-track-piece {
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: #646464;
}
::-webkit-resizer {
    background-color: #666;
}
