.nav {
    width: min(1440px, 100%);
    margin-inline: auto;
    padding: 0.8em 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logoWrapper img {
    height: 60px;
}

.cyber-games-links {
    text-decoration: none;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #343434;
    background: transparent;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    color: #20c20e;
    font-size: 1rem;
    padding: 0.75em 1.5em;
}

.cyber-games-links:is(:hover, :focus) {
    transition: all 0.2s ease-in-out;
    background: transparent;
    border-color: #343434;
    scale: 1.1;
    font-size: 16px;
}

.nav-links-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-links {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    padding: 1em 1em;
}

p.nav-links::after {
    content: "";
    position: relative;
    width: 0px;
    aspect-ratio: 1;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid white;
    top: 5.5px;
    margin: 0 0 0 6px;
}

.nav-links.active {
    border-bottom: 3px solid #20c20e;
}

p.nav-links ~ .nav-link-child > div {
    z-index: 997;
    display: none;
}

p.nav-links.higher-zindex ~ .nav-link-child > div {
    z-index: 1000;
    display: block;
}

.social-links-wrapper {
    display: none;
}

.nav-other-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

:is(.mobile-fabars, .mobile-close-btn-wrapper) {
    display: none;
}

@media screen and (max-width: 875px) {
    .nav {
        justify-content: flex-start;
        padding: 1em 4%;
    }

    .nav-links-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 4em 0;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 299;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transform: translateY(-100%);
        transition: transform 200ms ease-in-out;
    }

    .nav-links-wrapper-transform {
        transform: translateY(0%);
    }

    p.nav-links {
        width: max-content;
        margin-inline: auto;
        height: auto;
    }

    .mobile-fabars {
        display: inline-block;
        position: fixed;
        z-index: 100;
        right: 25px;
        top: 25px;
        font-size: 1.5rem;
        filter: invert(1);
    }

    .mobile-close-btn-wrapper {
        display: inline-block;
        position: fixed;
        z-index: 400;
        right: 25px;
        top: 25px;
        filter: invert(1);
        font-size: 1.5rem;
    }

    .nav-links-wrapper ul {
        flex-direction: column;
    }

    .social-links-wrapper {
        display: inline-block;
    }

    .social-links-wrapper a {
        text-decoration: none;
        text-decoration: none;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #343434;
        background: transparent;
        white-space: nowrap;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        color: #20c20e;
        font-size: 1rem;
        padding: 0.75em 1.5em;
        margin: 1em 0 0;
    }

    .cyber-games-links {
        display: none;
    }
}
